.preload {
	position: fixed;
	inset: 0;
	z-index: 9999;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: animatePreload 1s 6s forwards;
	overflow: hidden;
}

@keyframes animatePreload {
	to {
		opacity: 0;
		transform: scale(0.9);
		pointer-events: none;
	}
}
