@use "./scss/mixins" as *;

.home {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	row-gap: 30px;
}

.hero {
	min-height: 50svh;
	@include flex-center-start;
	padding: 30px;
	row-gap: 15px;
	flex-direction: column;
	background-image: url(/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100svh;
	color: #fff;
}

.home__title {
	font-size: clamp(1.5rem, 4vw, 4rem);
	text-align: center;
	padding: 0 30px;
}

.home__link {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 15px;
	transition: border-bottom 0.3s;
	color: #fff;

	&:hover {
		border-bottom: 1px solid rgb(0, 0, 0);
	}
}

.home__bottom {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	min-height: 5svh;
	padding-bottom: 30px;
}

/* Infinite scroller */
.scroller__inner {
	flex-wrap: nowrap;
	width: max-content;
	display: flex;
	column-gap: 30px;
}

.home__project-img {
	width: 500px;
	opacity: 0;
}

@keyframes revealProjectImg {
	to {
		opacity: 1;
	}
}

.scroller[data-animated="true"] {
	overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
	animation: scroll var(--_animation-duration, 8s)
		var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
	--_animation-direction: reverse;
}

.scroller[data-direction="left"] {
	--_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
	--_animation-duration: 30s;
}

.scroller[data-speed="fast"] {
	--_animation-duration: 5s;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 15px));
	}
}

.home__project-link {
	cursor: none;
}

// services

.services {
	padding: 20px;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media screen and (width < 1200px) {
	.services-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width < 800px) {
	.services-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.service-card {
	background: #e9e9e9;
	padding: 10px;
}

.service-card__title {
	font-size: 20px;
	font-weight: 600;
}

.reference {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
	padding: 20px;
}

.section__title {
	font-size: 3rem;
}

.reference-container {
	display: flex;
	gap: 25px;

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}
}

.img-wrapper {
	width: 100%;
}

.reference-details {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.reference-details__title {
	font-size: 2rem;
}

// philosophy

.philosophy {
	padding: 20px;
}

.philosophy-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #bbbbbb;
	padding: 5px;
}

.philosophy-parent {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s;
}

.philosophy-parent--visible {
	grid-template-rows: 1fr;
}

.philosophy-child {
	overflow: hidden;
	background: #e9e9e9;
}

// about-me

.about-me {
	padding: 20px;
}

.about-me-container {
	display: flex;
	gap: 20px;
}

.about-me-img {
	width: 300px;
	height: 400px;
	background-color: red;
}

@media screen and (width < 897px) {
	.home {
		row-gap: 15px;
	}

	.home__project-img {
		width: 250px;
	}

	.home__title {
		padding: 0 15px;
	}

	.home__bottom {
		padding-bottom: 15px;
	}

	.scroller__inner {
		column-gap: 15px;
	}

	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 7.5px));
		}
	}
}
