@use "@/scss/mixins" as *;

.header {
	position: fixed;
	top: 10px;
	right: 10px;
	left: 10px;
	@include flex-between-center;
	flex-direction: column;
	z-index: 100;
	opacity: 0;
	animation: animateHeader 1s 7s forwards;
}

@keyframes animateHeader {
	to {
		opacity: 1;
	}
}

.header__right-section {
	@include flex-center;
}

.header__logo-link {
	position: fixed;
	top: 10px;
	left: 10px;
	background: rgba(0, 0, 0, 0.6);
	@include backdrop-filter(50px);
	width: 60px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.header__logo-link-txt {
	font-size: 1.5rem;
}

.header-inner {
	position: fixed;
	top: 10px;
	right: 10px;
	background: rgba(0, 0, 0, 0.6);
	@include backdrop-filter(50px);
	padding: 5px;
	border-radius: 20px;
	@include flex-center;
}

.header__nav {
	position: relative;
	@include flex-center;
}

.nav-link-indicator {
	position: absolute;
	z-index: -1;
	border-radius: 15px;
	background: #fff;
	height: 100%;
}

.header__nav-link {
	position: relative;
	z-index: 1;
	color: #fff;
	min-width: 100px;
	font-weight: 500;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	mix-blend-mode: difference;
}

.header__nav-link--active {
	background: white;
	color: #000;
}

.link-effect {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #000;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 0.3s;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.link-effect--active::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header__bottom {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	width: 100%;
	padding: 0;
	transition: all 0.5s;
}

.header__bottom--active {
	padding: 15px 0;
	grid-template-rows: 1fr;
}

// menu-btn

.menu-btn {
	position: relative;
	display: none;
	width: 25px;
	aspect-ratio: 1/1;
	transition: all 0.5s;
}

.menu-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 2px;
	background: #fff;
}

.menu-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 2px;
	width: 100%;
	background: #fff;
}

.menu-btn--active {
	transform: rotate(135deg);
}

// menu

.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 15px;
	overflow: hidden;
}

.menu__nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.menu__nav-link {
	font-size: 1.25rem;
	color: #000;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s;
}

.menu__nav-link--active {
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.5s;
}

@media screen and (width < 896px) {
	.menu-btn {
		display: initial;
	}

	.header__nav {
		display: none;
	}
}

@media screen and (width <= 896px) {
	.header {
		// padding: 0 15px;
	}

	.header__link {
		// display: none;
	}
}
