@use "./reset";
@use "./variables";

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-vollkorn);
	background: var(--bg-clr);
}

#root {
	display: flex;
	flex-direction: column;
}

a {
	color: #000;
	display: inline-flex;
	align-items: center;
}

@media screen and (width <= 1000px) {
	body {
		padding: 0;
	}
}
